version: "2"
services:
	pricingHubBE:
		environment: 
			- ENVIRONMENT=dev
			- HOST_URL=domain.com
			- PORT=%!s(int=4200)
			- MONGO_URI=mongodb://mongo:27017/pricingHubBE
			- JWT_SECRET=averysecretsecret
			- MAILGUN_API_KEY=amailgunapi
			- EMAIL_DOMAIN=email.domain.com